numpy>=1.17.0
scipy
matplotlib
affine
rasterio>=1.1.3
dask
distributed>=2.15.0
dask-jobqueue
jupyter
bokeh
pylint
pytest
pytest-cov
json-checker
xarray
tqdm
sphinx-rtd-theme
netCDF4>=1.5.3
GitPython
argcomplete
Shapely
Fiona
pyproj
numba
pandas
tbb
pandora-plugin-libsgm==0.2.2
pylint
pre-commit
